<header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="100" height="100" />
    <div class="header-fields">
        <div class="weaponname">
            <input name="name" type="text" value="{{item.name}}" placeholder="name" />
        </div>
        <div>
            <input 
                type="text" 
                name="system.description.source" 
                value="{{system.description.source}}"
                placeholder="{{localize "SR6E.source"}}" 
            />
        </div>
    </div>
</header>