<form class="{{cssClass}} panoptikum" autocomplete="off">
    <!-- Include Header Template -->
    {{> "systems/sr6e/templates/item/parts/header.html"}}
    <!-- Define Sheet Tabs -->
    <nav class="tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "SR6E.SheetTabs.Description"}}</a>
        <a class="item" data-tab="weapon">{{localize "SR6E.SheetTabs.Weapon"}}</a>
        <a class="item" data-tab="ammo">{{localize "SR6E.SheetTabs.Ammo"}}</a>
        <a class="item" data-tab="mods">{{localize "SR6E.SheetTabs.Mods"}}</a>
    </nav>
    <!-- Tab Area -->
    <section class="basic-details">
        <div class="tab" data-group="primary" data-tab="description">
            <div class="flexrow align-start nowrap full-height">
                {{> "systems/sr6e/templates/item/parts/tech.html"}}
                {{> "systems/sr6e/templates/item/parts/description.html"}}
            </div>
        </div>
    </section>
</form>