<form class="{{cssClass}} panoptikum" autocomplete="off">
    {{> "systems/sr6e/templates/item/parts/header.html"}}
    <section class="basic-details">
        <div class="flexcol sheetrow mb-10">
            <div class="prop">
                <span class="label">
                    {{localize "SR6E.AmmoClass"}}
                </span>
                <select name="system.ammoClass" class="panoptikum-select">
                    {{selectOptions firearmTypes selected=system.ammoClass localize=true}}
                </select>
            </div>
            <div class="prop">
                <span class="label">
                    {{localize "SR6E.Quantity"}}
                </span>
                <input type="text" name="system.technology.quantity" value="{{system.technology.quantity}}" data-dtype="Number"
                    placeholder="0" />
            </div>
            <div class="prop">
                <span class="label">
                    {{localize "SR6E.AttackMod"}}
                </span>
                <input type="text" name="system.attackMod" value="{{system.attackMod}}" data-dtype="Number" placeholder="0" />
            </div>
            <div class="prop">
                <span class="label">
                    {{localize "SR6E.DamageMod"}}
                </span>
                <input type="text" name="system.damageMod" value="{{system.damageMod}}" data-dtype="Number" placeholder="0" />
            </div>
        </div>
        {{> "systems/sr6e/templates/item/parts/description.html"}}
    </section>
</form>