<form class="{{cssClass}} panoptikum" autocomplete="off">
    {{> "systems/sr6e/templates/item/parts/header.html"}}
    <nav class="tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "SR6E.SheetTabs.Description"}}</a>
        <a class="item" data-tab="lifestyle">{{localize "SR6E.SheetTabs.Lifestyle"}}</a>
        <a class="item" data-tab="effects">{{localize "SR6E.SheetTabs.Effects"}}</a>
    </nav>
    <section class="basic-details">
        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/sr6e/templates/item/parts/description.html"}}
        </div>
        <div class="tab" data-group="primary" data-tab="lifestyle">

        </div>
        <div class="tab" data-group="primary" data-tab="effects">
            
        </div>
    </section>
</form>